.mainDiv {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-areas:
  'names messages'
  'names textarea';
  font-size: 1.5rem;
}

.names {
  grid-area: names;
  padding: 3vh 6vw;
}

.names a {
  text-decoration: none;
  color: #FFF;
}

.names a:active {
  color: #000;
}

.messages {
  grid-area: messages;
  padding: 3vh 6vw;
  text-align: start;
}

.input_message {
  grid-area: textarea;
  display: flex;
  flex-direction: column;
  max-width: 30vh;
}

.sendButton {
  align-self: center;
  min-width: 15vh;
  min-height: 5vh;
  border: none;
  border-radius: 15px;
  background-color: #FFF;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.2rem;
  transition: transform .2s;
  margin-bottom: 2vh;
}

.sendButton:hover {
  transform: scale(1.2);
}

.textarea {
  resize: none;
  padding: 12px;
  margin-bottom: 2vh;
  font-size: 1.1rem;
  max-height: 20vh;
}
