.mainDiv {
  background-color: #FFF;
  min-height: 50vh;
}

.position {
  display: flex;
  padding-left: 5vh;
}

.firstBlock {
  display: flex;
  flex-direction: column;
  gap: 1.4vh;
}

.imgDiv {
  margin-top: 3vh;
}

.profilePic {
  height: 7vh;
  border-radius: 50%;
}

.btn {
  border: 0;
  border-radius: 15px;
  background-color: #000;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s;
  min-width: 10vw;
}

.btn:hover {
  transform: scale(1.2);
}

.secondBlock {
  display: flex;
  border: solid;
  margin-left: 4vh;
  min-width: 35vw;
  justify-content: space-between;
  padding: 2rem
}

.name_msg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
