.mainDiv {
  grid-area: nav;
  display: flex;
  background-color: #ffd900;
  justify-content: center;
}

.navList {
  list-style: none;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
}

.listElement {
  transition: transform 0.3s;
}

.listElement:hover {
  transform: scale(1.2);
}

.listElement a {
  text-decoration: none;
  color: #7979f1;
}

.listElement a:active {
  color: #000;
}
